<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Password Reset</title>
    <style>
      @font-face {
        font-family: "Quicksand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
      }

      @font-face {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
      }
     </style>
  </head>
  <body style="font-family: 'Open Sans', Arial, Helvetica, sans-serif;">
    <table align="center" style="text-align: center; font-size: 16px; padding: 1rem; border-radius: 5px; background-color: #1b1d23; color: #ffffff; height: 100%; width: 100%; max-width: 640px; overflow-wrap: anywhere;">
      <tbody>
          <tr>
            <td style="display: table-cell; padding-bottom: 1.5rem;">
              <h1 style="font-family: 'Quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding-bottom: 0.75rem; font-size: 24px; font-weight: 550; line-height: 2rem; text-align: center; max-width: 640px;">Password Reset</h1>
              <div style="line-height: 1.5;">You've successfully resetted your password! Click the button below to set a new password</div>
            </td>
          </tr>
          <tr>
            <td style="padding: 2rem 0;">
              <a style="color: #ffffff; border-radius: 4px; font-size: 14px; padding: 8px 22px; text-decoration: none; font-weight: bold; background-color: #055aec;" href={{href}}>RESET</a>
            </td>
          </tr>
          <tr>
            <td style="display: table-cell; font-size: 14px; color: #bbbbbb; padding-top: 1.5rem;">
              If you haven't requested the password reset you can ignore this email <br> the data will be deleted after five days <br> If the button isn't working use the following link <a style="overflow-wrap: anywhere;" href={{href}}>{{href}}</a>
            </td>
          </tr>
      </tbody>
    </table>
  </body>
</html>

